body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-title {
    text-align: center;
    font-size: 2rem;
    color: #2e8b57;
}


.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-section label {
    font-size: 1rem;
}

.filter-section input {
    padding: 10px;
    font-size: 1rem;
}

.filter-section button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #2e8b57;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-section button:hover {
    background-color: #248f3f;
}


.report-section {
    margin-top: 20px;
}

.sales-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.sales-table th,
.sales-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.sales-table th {
    background-color: #2e8b57;
    color: white;
}

.sales-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.sales-table tr:hover {
    background-color: #f1f1f1;
}

